header {
  width: 90vw;
  height: 4em;
  margin: 0 auto;
  max-width: calc();
}
header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}